In [8]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [1]:
from google.colab import drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [4]:
data_folder = '/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630'

In [109]:
from glob import glob
df_all = pd.DataFrame(columns=['x','y'])
for file in glob(f'{data_folder}/*.csv'):
  df = pd.read_csv(file)
  df = df[['상호명','지점명','시도명','시군구명','도로명주소']]
  df_star = df[df['상호명'].str.contains('starbucks', na=False, case=False)]
  df_all = df_all.append(df_star)
  df_star = df[df['상호명'].str.contains('스타벅스', na=False, case=False)]
  df_all = df_all.append(df_star)
  df_edia = df[df['상호명'].str.contains('이디야', na=False)]
  df_all = df_all.append(df_edia)
  df_edia = df[df['상호명'].str.contains('ediya', na=False, case=False)]
  df_all = df_all.append(df_edia)
  df_bbak = df[df['상호명'].str.contains('paik', na=False, case=False)]
  df_all = df_all.append(df_bbak)
  df_bbak = df[df['상호명'].str.contains('빽다방', na=False, case=False)]
  df_all = df_all.append(df_bbak)
  df_bin = df[df['상호명'].str.contains('커피빈', na=False, case=False)]
  df_all = df_all.append(df_bin)
  df_bin = df[df['상호명'].str.contains('coffeebean', na=False, case=False)]
  df_all = df_all.append(df_bin)
del df_all['x']
del df_all['y']
df_all

               상호명        지점명   시도명     시군구명                    도로명주소
3226    스타벅스강릉안목항점     강릉안목항점   강원도      강릉시       강원도 강릉시 창해로14번길 40
5584          스타벅스  대명델피노리조트점   강원도      고성군   강원도 고성군 토성면 미시령옛길 1153
7827   스타벅스춘천후평DT점    춘천후평DT점   강원도      춘천시          강원도 춘천시 후석로 318
9325          스타벅스      춘천명동점   강원도      춘천시           강원도 춘천시 중앙로 55
10764  스타벅스설악워터피아점    설악워터피아점   강원도      속초시    강원도 속초시 미시령로2983번길 88
...            ...        ...   ...      ...                      ...
8095           커피빈     코리아청주점  충청북도  청주시 상당구  충청북도 청주시 상당구 상당로69번길 20
23745          커피빈        NaN  충청북도      제천시        충청북도 제천시 죽하로 71-3
31221          커피빈        NaN  충청북도      제천시        충청북도 제천시 독순로11길 1
65603          커피빈        NaN  충청북도      제천시          충청북도 제천시 내제로 74
77506          커피빈       파비뇽점  충청북도  청주시 흥덕구     충청북도 청주시 흥덕구 월명로 212

[4673 rows x 5 columns]

In [11]:
df = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv')
print(df.shape)
df.head(260).tail(1)

(316078, 39)

       상가업소번호         상호명    지점명 상권업종대분류코드  ... 층정보 호정보          경도         위도
259  24103373  세븐일레븐면목사랑점  면목사랑점         D  ...   1 NaN  127.090549  37.589241

[1 rows x 39 columns]

In [91]:
df = df[['상호명','지점명','시도명','시군구명','도로명주소']]

In [21]:
df.head(5)

     상호명  지점명    시도명  시군구명                  도로명주소
0    비지트  NaN  서울특별시   서초구    서울특별시 서초구 동광로18길 82
1   쓰리에프  NaN  서울특별시   동작구  서울특별시 동작구 동작대로27가길 12
2     채움  NaN  서울특별시   종로구       서울특별시 종로구 삼봉로 81
3  호구의주방  NaN  서울특별시  영등포구     서울특별시 영등포구 선유로 269
4     다향  NaN  서울특별시   서초구      서울특별시 서초구 효령로 230

In [94]:
df_star = df[df['상호명'].str.contains('starbucks', na=False, case=False)]
df_star

                    상호명  지점명    시도명 시군구명               도로명주소
173270  STARBUCKSCOFFEE  NaN  서울특별시  서초구  서울특별시 서초구 신반포로 176

In [95]:
df_edia = df[df['상호명'].str.contains('이디야', na=False)]
df_edia

               상호명        지점명    시도명  시군구명                  도로명주소
1272         이디야커피       신길역점  서울특별시  영등포구    서울특별시 영등포구 영등포로 353
1411         이디야커피       라이프점  서울특별시  영등포구      서울특별시 영등포구 63로 40
2433    이디야커피양재AT점      양재AT점  서울특별시   서초구        서울특별시 서초구 동산로 3
2785         이디야커피        시흥점  서울특별시   금천구      서울특별시 금천구 금하로 750
4498         이디야커피      개봉중앙점  서울특별시   구로구     서울특별시 구로구 개봉로3길 26
...            ...        ...    ...   ...                    ...
308958       이디야커피   장한평군자초교점  서울특별시  동대문구    서울특별시 동대문구 한천로2길 53
310131       이디야커피      강남율현점  서울특별시   강남구    서울특별시 강남구 밤고개로21길 8
310422       이디야커피  신사동고개삼거리점  서울특별시   은평구        서울특별시 은평구 갈현로 1
311852       이디야커피       양원역점  서울특별시   중랑구  서울특별시 중랑구 양원역로14가길 24
314146       이디야커피       곰달래점  서울특별시   강서구      서울특별시 강서구 곰달래로 52

[432 rows x 5 columns]

In [96]:
df_edia2 = df[df['상호명'].str.contains('ediya', na=False, case=False)]
df_edia2

                    상호명  지점명    시도명 시군구명                 도로명주소
52707       EDIYACOFFEE  NaN  서울특별시  서초구     서울특별시 서초구 방배로 234
88418       ediyacoffee  NaN  서울특별시  강남구     서울특별시 강남구 학동로 508
93391       EDIYACOFFEE  NaN  서울특별시  도봉구  서울특별시 도봉구 도봉로 964-40
93430       EDIYACOFFEE  NaN  서울특별시  구로구   서울특별시 구로구 구로중앙로 174
99167       EDIYACOFFEE  NaN  서울특별시  노원구     서울특별시 노원구 화랑로 341
166879      EDIYACOFFEE  NaN  서울특별시  마포구   서울특별시 마포구 성암로13길 58
202008      EDIYACOFFEE  NaN  서울특별시  서초구    서울특별시 서초구 청계산로 189
211359  EDIYACOFFEESHOP  NaN  서울특별시  종로구   서울특별시 종로구 필운대로1길 35
212584      EDIYACOFFEE  NaN  서울특별시  강서구     서울특별시 강서구 양천로 583
259578          EDIYA카페  NaN  서울특별시  강서구      서울특별시 강서구 송정로 70

In [97]:
df_bbak = df[df['상호명'].str.contains('paik', na=False, case=False)]
df_bbak

                   상호명  지점명    시도명 시군구명                  도로명주소
209469     PAIKSCOFFEE  NaN  서울특별시  송파구  서울특별시 송파구 올림픽로35길 104
289562  빽다방PAIKSCOFFEE  NaN  서울특별시  마포구    서울특별시 마포구 마포대로4길 16

In [105]:
df_bin = df[df['상호명'].str.contains('커피빈', na=False, case=False)]
df_bin

                상호명           지점명    시도명 시군구명                 도로명주소
28              커피빈   코리아대학로대명거리점  서울특별시  종로구      서울특별시 종로구 대명길 25
316     커피빈코리아낙성대역점      코리아낙성대역점  서울특별시  관악구  서울특별시 관악구 남부순환로 1909
1470            커피빈  코리아강남역랭기지타워점  서울특별시  강남구   서울특별시 강남구 테헤란로4길 28
1491            커피빈      코리아청담성당점  서울특별시  강남구     서울특별시 강남구 삼성로 716
1506            커피빈      코리아청담에스점  서울특별시  강남구    서울특별시 강남구 압구정로 461
...             ...           ...    ...  ...                   ...
296479   커피빈코리아이태원점       코리아이태원점  서울특별시  용산구    서울특별시 용산구 이태원로 189
296589      커피빈삼성로점          삼성로점  서울특별시  강남구     서울특별시 강남구 삼성로 551
298309          커피빈    코리아을지로입구역점  서울특별시   중구    서울특별시 중구 남대문로10길 6
308099          커피빈           길동별  서울특별시  강동구  서울특별시 강동구 양재대로112길 3
308762          커피빈     서초우성아파트앞점  서울특별시  서초구    서울특별시 서초구 사임당로 171

[219 rows x 5 columns]

In [99]:
|df_all = pd.DataFrame(columns=['x','y'])

In [100]:
df_all.append(df_bin)

          x    y          상호명           지점명    시도명 시군구명                 도로명주소
28      NaN  NaN          커피빈   코리아대학로대명거리점  서울특별시  종로구      서울특별시 종로구 대명길 25
316     NaN  NaN  커피빈코리아낙성대역점      코리아낙성대역점  서울특별시  관악구  서울특별시 관악구 남부순환로 1909
1470    NaN  NaN          커피빈  코리아강남역랭기지타워점  서울특별시  강남구   서울특별시 강남구 테헤란로4길 28
1491    NaN  NaN          커피빈      코리아청담성당점  서울특별시  강남구     서울특별시 강남구 삼성로 716
1506    NaN  NaN          커피빈      코리아청담에스점  서울특별시  강남구    서울특별시 강남구 압구정로 461
...     ...  ...          ...           ...    ...  ...                   ...
296479  NaN  NaN   커피빈코리아이태원점       코리아이태원점  서울특별시  용산구    서울특별시 용산구 이태원로 189
296589  NaN  NaN      커피빈삼성로점          삼성로점  서울특별시  강남구     서울특별시 강남구 삼성로 551
298309  NaN  NaN          커피빈    코리아을지로입구역점  서울특별시   중구    서울특별시 중구 남대문로10길 6
308099  NaN  NaN          커피빈           길동별  서울특별시  강동구  서울특별시 강동구 양재대로112길 3
308762  NaN  NaN          커피빈     서초우성아파트앞점  서울특별시  서초구    서울특별시 서초구 사임당로 171

[219 rows x 7 columns]